<section class="services-section">
  <h3 class="title-3 text-center">Mis servicios</h3>
  <div class="d-flex">
    <div class="card">
      <h4 class="title-4 text-center">Quince años</h4>
      <p>"Los quince años marcan el inicio de un nuevo capítulo lleno de sueños y
        momentos inolvidables. En Banquesoft, nos encargamos de hacer que ese día
        tan especial sea único, creando recuerdos que durarán para siempre."</p>
    </div>
    <div class="card">
      <h4 class="title-4 text-center">Matrimonio</h4>
      <p>"El matrimonio es el comienzo de una historia llena de amor y compromiso.
         En Banquesoft, trabajamos para que ese día tan esperado sea perfecto, haciendo
          que cada detalle refleje la belleza de su amor."</p>
    </div>
    <div class="card">
      <h4 class="title-4 text-center">Grado</h4>
      <p>"Un grado es el cierre de una etapa y el inicio de nuevos sueños. En Banquesoft,
        celebramos contigo este logro, creando una experiencia memorable para que disfrutes
        de un día lleno de orgullo y alegría."</p>
    </div>
    <div class="card">
      <h4 class="title-4 text-center">Primera Comunión</h4>
      <p>"La Primera Comunión es un momento especial lleno de fe y alegría. En Banquesoft,
         hacemos de este día un recuerdo inolvidable, creando el ambiente perfecto para
         celebrarlo en familia."</p>
    </div>
  </div>
</section>
