<app-side-bar />
<div class="container">
  <h1>Acerca de</h1>
  <hr>
  <div>
    <a>Institucion:</a>
    <p>Servicion Nacional De Aprendizaje (SENA Regional Antioquia) sede Centro De Tecnología De La Manufactura Avanzada
    </p>
  </div>
  <div>
    <a>Pagina Wed:</a>
    <p><a target="_blank"
        href="https://oferta.senasofiaplus.edu.co/sofia-oferta/">https://oferta.senasofiaplus.edu.co/sofia-oferta/</a>
    </p>
  </div>
  <div>
    <a>Telefono:</a>
    <p>Bogota: 3430111</p>
    <p>Resto del pais: 018000910270</p>
  </div>
  <hr>
  <div>
    <a>Desarrollador (ADSO):</a>
    <p>Juan Guillermo Cardenas Miranda</p>
  </div>
  <div>
    <a>Correo Electronico:</a>
    <p>juangui.1032&#64;gmail.com</p>
  </div>
  <div>
    <a>Telefono:</a>
    <p>3505947967</p>
  </div>
  <hr>
  <div>
    <h6>&#64;2024 Por Grupo BanqueSoft, Todos los derechos son reservados</h6>
  </div>
</div>
