.container {
  max-width: 40%;
  height: 100%;
  padding-top: 200px;
}

label {
  padding: 10px;
}

hr {
  border: 0;
  border-top: 1px solid #999;
  border-bottom: 2px solid #333;
  height: 0;
}

h1 {
  text-align: center;
}

.icon{
  cursor: pointer;
  margin-top: 60px;
}
