<app-side-bar />
<div class="container">
  <h1>Ayuda</h1>
  <hr>
  <div>
    <a>Inicio de sesion:</a>
    <p>En este modulo tanto el cliente como el administrador tienen la opcio de loguearse en el sistema para la
      ejecucion de tareas,
      en caso de ser cliente se debe selecciona la opcion cliente e ingresar su documento y contraseña, en caso de no
      estar registrado en
      el mismo modulo encontrara la opcion
      para realizarlo.
    </p>
    <p>En el caso del administrador selecciona la opcion administrador e ingresa su documento de identidad y contraseña
      que con enterioridad el administrador:
      <a>Juan Guillermo Cardenas Miranda </a> brindo y el administrador tiene acceso a toda la aplicacion web.
    </p>
    <a>NOTAS:</a>
    <P>En caso de no recordar su contraseña debera seleccionar la opcion <a href="/recuperar">"Olvido Contraseña?"</a>.
    </P>
  </div>
  <hr>
  <div>
    <a>Registrar cliente:</a>
    <p>En este modulo el cliente se puede regstrar con todos sus datos personales para realizar tareas como la
      agendacion de citas y registro
      de contratos (El registro de contrato lo realizara el Administrador).</p>
    <a>NOTAS:</a>
    <P>*NULL</P>
  </div>
  <hr>
  <div>
    <a>Cotizacion:</a>
    <p>En este modulo el cliente puede cotizar el precio para un(1) evento escogiendo los servicios que desde el total
      se muestra en un aproximado
      ya que los precios estan sujetos en cambios por parte del administrador, adicionalmente tiene la opcion de generar
      la cotizacion realizada en un
      documento PDF para tener una base.
    </p>
    <a>NOTAS:</a>
    <p>Es importante rezaltar que lo precios que aqui se muestran son solo informativos (No se sostienen precios del
      modulo cotizacion al realizar un(1) contrato</p>
  </div>
  <hr>
  <div>
    <a>Citas:</a>
    <p>En este modulo el cliente podra agendar una(1) cita presencial con el administrador o persona encargada del
      banquete para una posible cotizacion de
      banquete para la ejecucion de un(1) evento.
    </p>
    <a>NOTAS:</a>
    <p>El cliente solo podra agendar una(1) cita y hasta que esta sea cumplida quedara inhabilitado.</p>
    <p>Para pedir una(1) cita el cliente debe estar registrado en el sistema, en caso de no estarlo, se debera registrar
      (En el modulo encontrado la opcion).</p>
  </div>
  <hr>
  <div>
    <a>Galeria:</a>
    <p>En este modulo se encuentran imagenes relacionadas con los eventos qoe ofrece el banquete y son informativas para
      el cliente.</p>
    <a>NOTAS:</a>
    <P>*NULL</P>
  </div>
  <hr>
  <div>
    <a>Servicios:</a>
    <p>En este modulo se encuentran los servicios que ofrece el banquete</p>
    <a>NOTAS:</a>
    <P>Aqui no se muestra la totalidad de los servicos, al momento de registrar un contrato el administrador podra
      ofrecer la totalidad de los servicos.</P>
  </div>
  <hr>
  <div>
    <a>Promociones:</a>
    <p>En este modulo estan publicadas las promociones vigentes que tiene el banquete para sus clientes</p>
    <a>NOTAS:</a>
    <p>*NULL</p>
  </div>
  <hr>
  <div>
    <a>Cita administrador:</a>
    <p>En este modulo el administrador gestiona las citas de todos sus clientes como: Resgitrar, modificar, cancelar y
      agendar. Adicionamente genera las
      notificaciones de citas agendadas por los clientes.
    </p>
    <a>NOTAS:</a>
    <p>Solo se puede agendar citas para clientes registrados, en caso de no estalo, el administrador podra hacerlo.</p>
  </div>
  <hr>
  <div>
    <a>Contactos:</a>
    <p>En este modulo el administrador gestiona sus contactos como prestador de servicios , clientes para realizar
      registros , modificacion y cambiar
      estados (Activos)(Inactivo).</p>
    <a>NOTAS:</a>
    <p>*NULL</p>
  </div>
  <hr>
  <div>
    <h6>&#64;2024 Por Grupo BanqueSoft, Todos los derechos son reservados</h6>
  </div>
</div>
