.container {
  max-width: 80%;
  height: 100%;
  padding-bottom: 5px;
}

h1 {
  text-align: center;
  padding-top: 5%;
}

hr {
  border: 0;
  border-top: 1px solid #999;
  border-bottom: 2px solid #333;
  height: 0;
}

a {
  font-weight: 700;
}

h6 {
  text-align: center;
}
