.main-section {
  background-image: url("/assets/Imagen/BanqueSoft_transparent.png");
  background-size: cover;
  background-position: center;
  height: 600px;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.title-3 {
  font-size: 2.5rem;
}



