<div class="container">
  <div>
    <img src="../assets/Imagen/BanqueSoft_transparent.png">
  </div>
  <hr>
  <ul>
    <li routerLink="inicio">
      <mat-icon class="icon">home</mat-icon> inicio
    </li>
    <li routerLink="admi-cita">
      <mat-icon class="icon">calendar_today</mat-icon> Citas
    </li>
    <li routerLink="mensajes">
      <mat-icon class="icon">card_travel</mat-icon> Menaje
    </li>
    <li routerLink="servicios">
      <mat-icon class="icon">storage</mat-icon> Servicios
    </li>
    <li routerLink="contrato">
      <mat-icon class="icon">work</mat-icon> Contrato
    </li>
    <li routerLink="promocion">
      <mat-icon class="icon">stars</mat-icon> Promociones
    </li>
    <li routerLink="proveedor">
      <mat-icon class="icon"> local_car_wash</mat-icon> Proveedores
    </li>
    <li routerLink="categoria">
      <mat-icon class="icon">category</mat-icon> Categorias
    </li>
    <li routerLink="tipo-de-evento">
      <mat-icon class="icon">event</mat-icon> Tipos de eventos
    </li>
    <li routerLink="valores">
      <mat-icon class="icon">attach_money</mat-icon> Valores
    </li>


  </ul>

  <div id="footer">
    <hr>
    &#64;2024 Por Grupo BanqueSoft
  </div>
</div>
